server {
{% if proto == "https" %}
    listen       {{ portnum }} ssl;
{% else %}
    listen       {{ portnum }};
{% endif %}
    server_name  {{ webname }};

{% if proto == "https" %}
    ssl_certificate      {{ certdir }}/fullchain.pem;
    ssl_certificate_key  {{ certdir }}/privkey.pem;

    ssl_session_cache    shared:SSL:1m;
    ssl_session_timeout  5m;

    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_ciphers  HIGH:!SHA1:!SHA256:-SHA384:!aNULL:!MD5:-AES128:-TLS_AES_128_GCM_SHA256:-ECDHE-ECDSA-ARIA128-GCM-SHA256:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-SHA384;
#    ECDHE-ECDSA-AES128-GCM-SHA256 # old android
#    ECDHE-ECDSA-AES256-SHA384 # old safari (weak)
    ssl_prefer_server_ciphers  on;

    ssl_stapling on;
    ssl_stapling_verify on;
    ssl_dhparam /etc/ssl/dhparam.pem;
    ssl_ecdh_curve secp384r1:secp521r1:X25519;
{% endif %}

    client_max_body_size 10M;

    location / {
        root   /usr/local/www/nginx;
        index  index.html;
    }

    location ~ ^/(up|state) {
	    proxy_pass http://unix:{{ prefix }}/var/lib/urlnao/urlnao.sock;
	    auth_basic           "Restricted";
	    auth_basic_user_file urlnao.htpasswd;
    }

    location ~ ^/(f|d) {
	    proxy_pass http://unix:{{ prefix }}/var/lib/urlnao/urlnao.sock;
    }

	add_header Content-Security-Policy "default-src 'none'; frame-ancestors 'none'; form-action 'none'; base-uri 'none';" always;
	add_header X-Frame-Options "DENY" always;
#	add_header X-Content-Type-Options "nosniff" always;
	add_header X-XSS-Protection "1; mode=block" always;
	add_header Referrer-Policy "strict-origin-when-cross-origin" always;
}
